.table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.table th {
  background: #1e1e1e;
  color: #dddddd;
}

.table tr:nth-child(even) {
  background: #2a2a2a;
}

.table tr:hover {
  background: #333;
}

.actions {
  display: flex;
  gap: 10px;
}

.txtNotFound{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.divButton {
  display: flex;
  justify-content: flex-end;
  width: 80%; /* Igual à largura da tabela */
  margin: 20px auto;
}

.btnClients {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: #7B3F99;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btnClients:hover {
  opacity: 0.8;
  background-color:  #6e1b97
}

.btnAddClients {
  padding: 20px 30px;
  border: none;
  border-radius: 8px;
  background-color: #7B3F99;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btnAddClients:hover {
  opacity: 0.8;
  background-color:  #6e1b97
}
